.App {
  text-align: center;
  display: grid;
  grid-template-columns: 15fr 65fr 20fr;
  grid-template-rows: 20fr 80fr;
  grid-template-areas: 
    "inputform rules gameinfo"
    "scores tabletop guesshistory";
  justify-items: center;
  align-items: start;
  height: 100%;
}

body {
  background-color: gray;
  height: 100%;
}

label, p {
  font-size: x-large;
}

input {
  font-size: larger;
}

ol li {
  font-size: x-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputform {
  grid-area: inputform;
}

.rules {
  grid-area: rules;
}

.gameinfo {
  grid-area: gameinfo;
}

.scores {
  grid-area: scores;
  height: 100%;
}

.Tabletop {
  grid-area: tabletop;
  height: 100%;
}

.GuessedCards {
  grid-area: guesshistory;
  height: 100%
}

.CardContainer {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.twitch-info-tooltip-icon {
  display: inline-block;
  margin-left: .5rem;
}

.twitch-info-tooltip-popup {
  display: none;
  position: absolute;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.twitch-info-icon:hover~.twitch-info-tooltip-popup {
  display: block
}