svg {
    stroke-width: 4;
}

.red {
    --card-color: red;
    stroke: var(--card-color);
}
.green {
    --card-color: green;
    stroke: var(--card-color);
}
.purple {
    --card-color: purple;
    stroke: var(--card-color);
}

.red-striped {
    fill: url(#red-striped);
}
.green-striped {
    fill: url(#green-striped);
}
.purple-striped {
    fill: url(#purple-striped);
}
.empty {
    fill: none;
}
.solid {
    fill: var(--card-color);
}